.cv-container h3,
.cv-container h2 {
  padding: 0;
}

.cv-black-heading {
  color: var(--text-secondary) !important;
}

.cv-circular {
  border-radius: 0 0 0 30px;
}

.cv-image {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
}

.cv-header {
  max-width: 70%;
}

.cv-section {
  margin-top: 20px;
}

.cv-section a {
  color: var(--highlight);
}

.cv-section > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.cv-section > div > p {
  font-size: 0.9rem;
  font-style: italic;
}

.cv-section p {
  margin: 0px;
}

.cv-section h3 {
  margin: 0px;
}

.cv-container {
  position: relative;
  color: var(--text-main);
  margin: auto;
  width: 100%;
  max-width: 95vw;
  font-family: Helvetica;
}

.cv-contact-info {
  display: flex;
  flex-direction: column;
}

.cv-date {
  margin-top: -1vh;
}

.cv-name-heading h1 {
  font-size: 1.5rem;
}

.cv-job-title {
  margin-bottom: 0;
}

.cv-section {
  line-height: 1.6;
}

.cv-divider {
  height: 2px;
  width: 100%;
  background-color: var(--highlight);
  align-self: center;
}

.cv-container a {
  text-decoration: none;
}

.cv-main-section {
  margin-bottom: 10px;
  margin-top: 50px;
}

.cv-container ul {
  margin-left: 20px;
  list-style: disc;
}

.cv-container h1,
.cv-container h2,
.cv-container h3 {
  color: var(--highlight);
  margin-bottom: 0;
}

.cv-container h1 {
  font-size: 1.7rem;
}

.cv-container h2 {
  font-size: 1.5rem;
}
.cv-container h3 {
  font-size: 1.3rem;
}

.cv-name-heading {
  display: flex;
  flex-direction: column;
}

.cv-contact-info p,
.cv-contact-info a {
  margin: 5px 0;
}

.cv-header {
  display: flex;
}

@media only screen and (min-width: 900px) {
  .cv-job-title {
    margin-top: 2vh;
  }

  .cv-image {
    position: relative;
    width: 200px;
    height: 200px;
  }

  .cv-container ul {
    margin-top: 0;
  }

  .cv-header {
    max-width: 100%;
  }

  .cv-name-heading {
    margin-left: 10px;
  }

  .cv-contact-info {
    margin-left: 10px;
    margin-top: 20px;
  }

  .cv-name-heading h1 {
    font-size: 2rem;
    margin-top: 0;
  }
  .cv-circular {
    border-radius: 100%;
  }

  .cv-header {
    display: grid;
    grid-template-columns: 30% auto;
    margin: 4vh 0;
  }
  .cv-section {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-column-gap: 10px;
  }
  .cv-container {
    max-width: 800px;
    margin: 5vh auto;
  }
  .cv-job-title {
    display: block;
  }
}
